<head>
  <link scr="stylesheet" href=""
</head>


<h1>ようこそ Bookers へ！</h1>
<div class="top">
<p class="top-text">
  <b>Bookers</b>では、さまざまな書籍に関するあなたの意見や
</p>
<p class="top-text2">
  印象を共有し交換することができます。
</p>
<div class="top-start">
  <%= link_to "start", "/books" %>
</div>
</div>

