<head>
  <link scr="stylesheet" href=""
</head>


<h1>ようこそ Bookers へ！</h1>
<p class="top-text">
  Bookeersでは、さまざまな書籍に関するあなたの意見や<br><br><br>
  印象を共有し交換することができます。
</p>
<div class="top-start">
  <%= link_to "start", "/books" %>
</div>

