/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
}

h1{
  margin-top: 30px;
  margin-left: 30px;
  font-size: 24px;
}

h2{
  font-size: 18px;
}

p{
  margin: 0;
  padding: 0;
}

.flash{
  margin-left: 30px;
}

/* top.html.erb CSS */
.top{
  margin-left: 20px;
}

.top-text{
  margin-top: 20px;
  margin-left: 30px;
}

.top-text2{
  margin-top: 30px;
  margin-left: 30px;
}

.top-start{
  margin-top: 30px;
  margin-left: 30px;
}

/* index.html.erb CSS */
/*.index{
  margin-top: 15px;
  margin-left: 30px;
}*/

.title{
  margin: 0 auto;
}

.body-box{
  margin: 0 15px;
}

.body{
  margin: 0 auto;
}

.new-text{
  margin-top: 30px;
  margin-left: 30px;
}

/* show.html.erb CSS */
.detail{
  margin-top: 30px;
  margin-left: 30px;
}

.detail-text{
  margin-bottom: 20px;
}

/* edit.html.erb CSS */
.edit-box{
  margin-left: 30px;
}

.edit-text{
  margin-top: 10px;
}